absl-py
accelerate
aioeasywebdav
aiohappyeyeballs
aiohttp
aiosignal
amply
annotated-types
appdirs
asttokens
async-timeout
attrs
backcall
bcrypt
beautifulsoup4
biopython
bitarray
bitstring
black
bleach
boto3
botocore
Brotli
cachetools
certifi
cffi
charset-normalizer
checkm-genome
click
cloudpickle
cmake
colorama
coloredlogs
comm
ConfigArgParse
connection-pool
contourpy
cryptography
cycler
datrie
debugpy
decorator
defusedxml
DendroPy
deprecation
docker-pycreds
docopt
docutils
dpath
drep
dropbox
eido
einops
exceptiongroup
executing
fastjsonschema
filechunkio
filelock
# flash_attn
fonttools
frozenlist
fsspec
ftputil
gdown
gitdb
GitPython
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
h2
h5py
hpack
httplib2
huggingface-hub
humanfriendly
hyperframe
idna
importlib_metadata
importlib_resources
iniconfig
ipykernel
ipython
ipywidgets
jedi
Jinja2
jmespath
joblib
jsonapi-client
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
jupyterlab_widgets
kiwisolver
line_profiler
linkify-it-py
lit
logmuse
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
memory-profiler
memray
mistune
mpmath
multidict
munkres
muon_optimizer
mypy_extensions
nbclient
nbconvert
nbformat
nest_asyncio
networkx
ninja
numpy==1.26.4
oauth2client
objgraph
packaging
pandas
pandocfilters
paramiko
parso
pathspec
patsy
peft
pephubclient
peppy
pexpect
pickleshare
pillow
pipreqs
pkgutil_resolve_name
plac
platformdirs
pluggy
ply
prettytable
prompt_toolkit
propcache
proto-plus
protobuf
psutil
ptyprocess
PuLP
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyecharts
pyfaidx
Pygments
Pympler
PyNaCl
pynvml
pyOpenSSL
pyparsing
pysam
pysftp
PySocks
pytest
python-dateutil
python-irodsclient
pytz
pyu2f
PyYAML
pyzmq
referencing
regex
requests
reretry
rich
rotary-embedding-torch
rpds-py
rsa
s3transfer
safetensors
sageattention
scalene
scikit-learn
scipy
screed
seaborn
sentry-sdk
setproctitle
setuptools-scm
shellingham
simplejson
six
slacker
smart_open
smmap
# snakemake
soupsieve
# sourmash
# sourmash_plugin_branchwater
stack_data
statsmodels
stone
stopit
swankit
swanlab
sympy
tabulate
tensorboard
tensorboard-data-server
textual
threadpoolctl
throttler
tinycss2
tokenizers
tomli
toposort
torch==2.6.0
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
typer
typer-slim
typing_extensions
tzdata
ubiquerg
uc-micro-py
unicodedata2
uritemplate
urllib3
veracitools
wandb
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
yarg
yarl
yte
zipp
zstandard